body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.logo {
    max-height: 40px;
    margin-right: 5px;
}

main {
    min-height: 100vh;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.35);
}

footer {
    background: #00274d;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form .form-group {
    margin-bottom: 1.5rem;
}

form .btn {
    background-color: #00274d;
    border: none;
}

form .btn:hover {
    background-color: #0056b3;
}

.custom-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.custom-table th, 
.custom-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
    color: #252525;
    border-bottom: 1px solid #dddddd;
}

.custom-table thead th {
    background-color: #4f5bd5;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
    background-color: #f3f1f1;
    color: #000000;
}

.login-form {
    max-width: 400px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-section {
    background: linear-gradient(
        135deg, 
        #feda75 0%, 
        #fa7e1e 20%, 
        #d62976 40%, 
        #962fbf 60%, 
        #4f5bd5 75%, 
        #3a88f2 90%,  
        #00d4ff 100%   
    );
  
    padding: 100px 0;
    color: white;
    text-align: center;
    background-size: 300% 300%;
    animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* .hero-section {
    background: linear-gradient(135deg, 
        rgba(0, 212, 255, 1) 0%, 
        rgba(0, 255, 255, 1) 25%, 
        rgb(95, 95, 232) 40%, 
        rgba(255, 0, 255, 1) 55%, 
        rgba(255, 0, 0, 1) 75%, 
        rgba(255, 215, 0, 1) 100%
    );
        
    padding: 100px 0;
    color: white;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4);
} */

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.card {
    transition: transform 0.3s;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.10);
}

/* Lightbox styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s linear;
    z-index: 999;
}

.lightbox.visible {
    opacity: 1;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}
 